<launch>
  <!-- <include file="$(find concaveteam)/launch/frames.launch"/> -->
  <!-- <include file="$(find concaveteam)/launch/camera.launch"/> -->
  <node pkg="concaveteam" type="track_mono" name="track_mono">
    <remap from="image_rect_color" to="/stereo/left/image_rect_color"/>
  </node>
  <node pkg="concaveteam" type="point2d_to_spherical" name="point2d_to_spherical">
    <remap from="/left/camera_info" to="/stereo/left/camera_info"/>
    <remap from="target" to="/target"/>
    <param name="~focal_length" value="832"/>
  </node>
  <!-- <node pkg="rosserial_python" type="serial_node.py" name="serial"  args="/dev/ttyACM0"/> -->
</launch>
